<div class="login-area">
  <div class="row">
    <div class="col-lg-3">
      <div class="row side-card">
        <div class="col-md-12">
          <h1 class="p-5">CHAT APP</h1>
          <span></span>
          <p class="p-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec faucibus ipsum non mollis sollicitudin. 
            Maecenas elementum eros felis, at varius ante blandit imperdiet. 
            In in gravida enim.
          </p>
          <p>
            <a class="p-4" routerLink="/authenticate/create-account">Don't have an account?</a>
          </p>
          <p>
            <a class="p-4" routerLink="/authenticate/login">Login?</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-9 form-area">
      <form class="p-5" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="">
            <div class="col-12">
              <div class="form-group">
                <label>Password: *</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Enter Password"
                  formControlName="password"
                >
                <div *ngIf="submitted && f.password.errors" class="is-invalid">
                  <div *ngIf="f.password.errors.required">Password required</div>
                  <div *ngIf="f.password.errors.minlength">Must be at least 6 characters</div>
                </div>
                <app-password-strength
                  [barLabel]="'Password Strength'"
                  [passwordToCheck]="f.password.value"
                  (passwordStrong)="passwordStrong($event)"
                ></app-password-strength>
                <div class="is-invalid" *ngIf="submitted && !isPasswordStrong">Password not strong</div>
              </div>
            </div>
  
            <div class="col-12">
              <div class="form-group">
                <label>Confirm Password: *</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirm Password"
                  formControlName="confirmPassword"
                >
                <div *ngIf="submitted && (f.confirmPassword.invalid || changePasswordForm.hasError('notSame'))"
                     class="is-invalid">
                  Passwords should match
                </div>
              </div>
            </div>
  
          </div>
        </div>
        <div class="login-sign-in">
          <div class="text-center p-2">
            <app-button
              [buttonText]="'Save'"
              [buttonClassString]="'main-class'"
              [buttonType]="'submit'"
            > 
            </app-button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
