.login-area {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  // height: 100vh;
  // width: 100vw;

  .side-card {
    background-color: #7476F5;
    height: 100vh;

    h1 {
      text-align: center;
      color: #ffffff;
    }

    p {
      text-align: center;
      color: #ffffff;
      font-size: 20px;

      a {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }

  .form-area {
    form {
      width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;

      .form-group {
        display: inline-block;
        width: 50%;

        label {
          font-size: 18px;
        }

        &:first-of-type {
          margin-right: 10px;
        }

        .is-invalid {
          margin-bottom: auto;
        }
      }

      .login-sign-in {
        .mobile-text {
          display: none;
          font-size: 15px;
          color: #7476F5;
          text-decoration: underline;
        }
      }

      @media only screen and (max-width: 768px) {
        width: 100%;
        margin-left: 0;
      }
    }

    @media only screen and (max-width: 768px) {
      order: -1;
    }
  }
}